* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

/* mobile nav*/
.nav__bars-btn
{
    width: 28px;
    height: 28px;
    color:#fff;
    display: none;
    margin-left: auto;
    margin-right: 9px;
    cursor: pointer;
}
.nav__overlay
{
    position: fixed;
    top:0px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    animation: fadeIn linear 0.5s;
}
@keyframes fadeIn {
    from
    {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media only screen and (max-width: 1023px)
{
    .nav__bars-btn
    {
        display: block;
        float: right;
    }
    .nav__pc
    {
        display: none;
    }
}
#nav__checkbox
{
    
    display: none;
}   
#nav__checkbox:checked ~ .nav__overlay
{
    display: block;
}
#nav__checkbox:checked ~.nav__mobile
{
    transform: translateX(0%);
    opacity: 1;
}
.nav__mobile
{
    position:fixed;
    top:0px;
    right: 0px;
    bottom:0px;
    min-width: 320px;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.5s;
}

.nav__mobile-list
{
    margin-top:24px;
}
.nav__mobile-link
{
    text-decoration: none;
    list-style: none;
    color:#000;
    display: block;
    padding: 8px 2px;
    font-size: 1.4rem;
}
.nav__mobile-close
{
    font-size: 1.4rem;
    color: #666;
    position: absolute;
    top: 10px;
    display: block;
    right: 42px;
    width: 20px;
    height: 20px;
    cursor:pointer;

}